/****************** xxl screen ******************/
@media only screen and (min-width: 1400px) {
	.experience .counter h1{
		padding: 27px 0px;
		font-size: 2rem;
	}
}

/****************** xl screen ******************/
@media screen and (min-width: 1200px) {
	.about .img-padding{ padding-left: 12% !important;}
}

/****************** large screen ******************/
@media (min-width: 768px) and (max-width: 1199px){
	.about .img-padding{padding-left: 9% !important;}
}

/***************** small screen *******************/
@media screen and (max-width: 767px){
	.#myNav li a:hover{
		transform: none;
	}
	.banner .myCaption{
		bottom: 100px !important;
		background: rgba(0, 0, 0, .6);
	}
	.carousel-control-prev-icon, .carousel-control-next-icon{
		position: absolute;
		top: 64% !important;
	}
	.about .img{
		height: 300px;
	}
	.about-content{padding-top: 25px!important;}

	.img-padding{padding-left: 3% !important;}
	
	:root{
		--time: 3s;

		--col: yellow;

		--textsize: 40px;

		--div0top: -240px;
		--div100top: 10px;

		--textbase: 40px;
		--text25top: 10px;
		--texttop: 70px;

		--text2base: 110px;
		--text2top25: 80px;
		--text2top: 140px;

		--textleft0: 35px;
		--textleft25: 42px;
		--textleft50: 49px;
		--textleft75: 56px;
		--textleft100: 63px;

		--text2left0: 0px;
		--text2left25: 2px;
		--text2left50: 4px;
		--text2left75: 6px;
		--text2left100: 8px;

	}
	/*.ani-child{
		position: absolute;
		z-index: 1;
		top: 40px;
		background: rgba(0, 0, 0, .7);
		animation: ani 0.7s linear 1;
	}
	@keyframes ani{
		0%{
			top: -120px;
		}
		100%{
			top: 40px;
		}
	}*/
	.w, .e, .b {
	    left: 35px;
	}
	.d1, .d, .e2, .s, .i, .g, .n, .e3, .r{
	    top: var(--text2base);
	}
}

/***************** x small screen*****************/
@media screen and (max-width: 555px){
	#features [class*='box-']{
		left: 0!important;
		margin: 0 auto!important;
		margin-bottom: 15px !important;
	}

	:root{
		--boxwidth: 60% !important;

		--box1left1: 0% !important;
		--box1left2: 0% !important;

		--box2left1: 0% !important;
		--box2left2: 0% !important;

		--box3left1: 0% !important;
		--box3left2: 0% !important;

		--box4left1: 0% !important;
		--box4left2: 0% !important;
	}
}

/***************** x small screen*****************/
@media screen and (max-width: 480px){
	.carousel-control-prev-icon, .carousel-control-next-icon{
		top: 63% !important;
	}
	.project .work-inner .work-content .icon{
		font-size: 50px !important;
}

@media (min-width: 416px) and (max-width: 470px){
	.project .work-content .title-wrapper{
		padding-top: 8px !important;
	}
}

/***************** x small screen*****************/
@media screen and (max-width: 415px){
	.project .work-content h5{
		font-size: 16px !important;
	}
	.project .work-content p{
		font-size: 13px !important;
	}
	.project .work-inner .work-content .icon{
		font-size: 35px !important;
	}
	.project .work-content .title-wrapper{
		padding-top: 17px !important;
	}
}

/***************** x small screen*****************/
@media screen and (max-width: 375px){
	.project .work-content .title-wrapper{
		padding-top: 17px !important;
	}
	.project .work-content .title-wrapper h5{
		margin-top: 0 !important;
		padding-top: 0 !important;
	}
}

/***************** x small screen*****************/
@media screen and (max-width: 350px){
	:root{
		--text2left0: 0px;
		--text2left25: 0px;
		--text2left50: 0px;
		--text2left75: 0px;
		--text2left100: 0px;
	}
	.carousel-control-prev-icon, .carousel-control-next-icon{
		top: 55% !important;
	}
	.experience .counter{
		height: 100px !important;
		width: 100px !important;
		padding-top: 5px!important;
	}
	.project .work-inner .work-content .icon{
		font-size: 45px !important;
	}
	.project .work-content .title-wrapper{
		/*margin-top: 5px !important;*/
		padding-top: 10px !important;
	}
}